*{
    margin:4px;
    padding:4px;
}

h1{
    padding: 10px;;
    font-size: 400%;
    text-align: center;
    background-attachment: fixed;

    align-content: center;
    color:rgb(243, 232, 131);
    background-image: url("3rd.jpg");
    background-repeat: no-repeat;
    border-radius: 4px;
    background-attachment: fixed;

}
.im{
    background-attachment: fixed;
    margin-right: 45px;
    margin-left: 45px;
}
body{
    background-color:black;
}
.cont{
    text-align:left;
    color:darkgray; 
    background-image: none;
    font-size: 250%;
}
p{
    color:beige;
    text-align: left;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;

}
.para,.para1{
    color:beige;
    text-align: left;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
img{
    max-width: 90%;
    padding-bottom: 20px;
    -webkit-clip-path: square(50% at 50% 50%);
    clip-path: square(50% at 50% 50%);
}
h2{
    color:rgb(190, 189, 189);
    font-size:150%;
}
nav a{
    text-decoration: none;
    color:white;
    text-align: center;
    padding: 15px;
    float: left;

}
nav{
    background-color: black;
    display: flex;
}
nav a:hover,a:hover{
    background-color: white;
    color: black;
    border-radius: 50px 50px;
}
.foot{
    color:beige;
    text-decoration: none;
    padding: 10px;
}
.mega{
    color:beige;
    padding-top: 40px;
    text-decoration: none;
    text-align:center;
}
.mg{
    color:beige;
    text-decoration:none;

}
/* .flex-container {
    display: flex;
    flex-direction: column;


}    
 */
 .carousel-cell{
     width: 60%;
     margin-right: 10px;
     border-radius: 50px;
 }

@media screen and (max-width: 700px) {
    nav{
        flex-direction: column;
    }

}
